body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    padding-top: 70px;
    text-align: center;
}

.heading {
    display: inline-block;
    background-color: rgb(244, 219, 187);
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #cfb095;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.aboutmyself {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.my {
    background-color: rgb(244, 232, 217);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #cfb095;
    font-size: medium;
    color: black;
    padding: 15px 30px;
}
.description {
    flex: 1 1 320px;
    max-width: 520px;
}

.interests {
    flex: 1 1 420px;
    max-width: 640px;
}

li {
    text-align: left;
}

.images {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
    flex-wrap: wrap; /*allows wrapping on smaller screens*/
    margin-top: 20px;
}

.images img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover; /*crops the images as sizes differ*/
    margin-bottom: 20px;
    box-shadow: 5px 5px 2.5px grey;  
}