body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    padding-top: 100px;
    padding-bottom: 20px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.3;
}

.container {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    padding: 40px 20 px;
}

.content {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 10px 10px 5px #cfb095; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.name {
    margin-bottom: 5px;
}

.info {
    text-align: right;
}

.info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.education {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    gap: 20px;
}

.education-details {
    max-width: 75%;
}

.education-period {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    
}

.work {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    gap: 20px;
}

.work-details {
    max-width: 75%;
}

.work-period {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    
}

.language {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    gap: 20px;
}

.language-details {
    max-width: 75%;
}

.language-level {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    
}