main {
    padding-top: 70px;
    text-align: center;
    font-size: x-large
}

.heading {
    display: inline-block;
    background-color: rgb(244, 232, 217);
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #cfb095;
    font-size: xx-large;
    color: black;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.photo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 10px 10px 5px grey;  
}

.photo p {
    margin-top: 8px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}