main {
    padding-top: 70px;
    text-align: center;
}

.heading {
    display: inline-block;
    background-color: rgb(244, 232, 217);
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #cfb095; /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    font-size: xx-large;
    color: black;
    text-align: center;
}

ol {
    text-align: left;
    display: inline-block;
    margin-top: 1px;
}

.gallery {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
    flex-wrap: wrap; /*allows wrapping on smaller screens*/
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 270px;
    border-radius: 20px;
    object-fit: cover; /*crops the images as sizes differ*/
    margin-bottom: 20px;
    box-shadow: 5px 5px 2.5px grey;  
}
